-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."ApprovalStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "public"."Decision" AS ENUM ('APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "public"."UrgencyLevel" AS ENUM ('MEDIUM', 'HIGH', 'CRITICAL');

-- CreateEnum
CREATE TYPE "public"."ResponseStatus" AS ENUM ('PENDING', 'CONFIRMED', 'DECLINED');

-- CreateEnum
CREATE TYPE "public"."VerificationStatus" AS ENUM ('PENDING', 'AUTO_REJECTED', 'MATCHED_FOR_ADMIN', 'ADMIN_REJECTED', 'APPROVED');

-- CreateEnum
CREATE TYPE "public"."DonorDocumentType" AS ENUM ('BLOOD_TEST', 'ID_PROOF', 'MEDICAL_CERTIFICATE');

-- CreateEnum
CREATE TYPE "public"."AgentType" AS ENUM ('HOSPITAL', 'DONOR', 'COORDINATOR', 'INVENTORY', 'LOGISTICS', 'COMPLIANCE', 'VERIFICATION');

-- CreateEnum
CREATE TYPE "public"."WorkflowStatus" AS ENUM ('PENDING', 'MATCHING', 'FULFILLMENT_IN_PROGRESS', 'FULFILLED', 'FAILED', 'CANCELLED');

-- CreateTable
CREATE TABLE "public"."DonorRegistration" (
    "id" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "dateOfBirth" TIMESTAMP(3) NOT NULL,
    "gender" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "emergencyContact" TEXT NOT NULL,
    "emergencyPhone" TEXT NOT NULL,
    "weight" TEXT NOT NULL,
    "height" TEXT NOT NULL,
    "bmi" TEXT NOT NULL,
    "lastDonation" TIMESTAMP(3),
    "donationCount" TEXT,
    "neverDonated" BOOLEAN NOT NULL DEFAULT false,
    "recentVaccinations" BOOLEAN NOT NULL DEFAULT false,
    "vaccinationDetails" TEXT,
    "medicalConditions" TEXT,
    "medications" TEXT,
    "hivTest" TEXT NOT NULL,
    "hepatitisBTest" TEXT NOT NULL,
    "hepatitisCTest" TEXT NOT NULL,
    "syphilisTest" TEXT NOT NULL,
    "malariaTest" TEXT NOT NULL,
    "hemoglobin" TEXT NOT NULL,
    "bloodGroup" TEXT NOT NULL,
    "plateletCount" TEXT NOT NULL,
    "wbcCount" TEXT NOT NULL,
    "bloodTestReport" TEXT,
    "idProof" TEXT,
    "medicalCertificate" TEXT,
    "dataProcessingConsent" BOOLEAN NOT NULL DEFAULT false,
    "medicalScreeningConsent" BOOLEAN NOT NULL DEFAULT false,
    "termsAccepted" BOOLEAN NOT NULL DEFAULT false,
    "status" "public"."ApprovalStatus" NOT NULL DEFAULT 'PENDING',
    "verificationAttempts" INTEGER NOT NULL DEFAULT 0,
    "suspendedUntil" TIMESTAMP(3),
    "lastVerificationAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "latitude" TEXT,
    "longitude" TEXT,

    CONSTRAINT "DonorRegistration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."HospitalRegistration" (
    "id" TEXT NOT NULL,
    "bloodBankLicense" TEXT NOT NULL,
    "licenseExpiryDate" TIMESTAMP(3),
    "sbtcNoc" BOOLEAN NOT NULL,
    "nocNumber" TEXT NOT NULL,
    "nocExpiryDate" TIMESTAMP(3),
    "nbtcCompliance" BOOLEAN NOT NULL,
    "nacoCompliance" BOOLEAN NOT NULL,
    "hospitalName" TEXT NOT NULL,
    "hospitalAddress" TEXT NOT NULL,
    "city" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "pincode" TEXT NOT NULL,
    "operationalStatus" TEXT NOT NULL,
    "coldStorageFacility" BOOLEAN NOT NULL,
    "temperatureStandards" BOOLEAN NOT NULL,
    "testingLabsOnsite" BOOLEAN NOT NULL,
    "affiliatedLabs" TEXT NOT NULL,
    "qualifiedMedicalOfficer" BOOLEAN NOT NULL,
    "certifiedTechnicians" TEXT NOT NULL,
    "contactEmail" TEXT NOT NULL,
    "contactPhone" TEXT NOT NULL,
    "inventoryReporting" BOOLEAN NOT NULL,
    "realTimeUpdates" BOOLEAN NOT NULL,
    "emergencyResponseCommitment" BOOLEAN NOT NULL,
    "responseTimeMinutes" TEXT NOT NULL,
    "dataHandlingCommitment" BOOLEAN NOT NULL,
    "confidentialityAgreement" BOOLEAN NOT NULL,
    "bloodBankLicenseDoc" TEXT,
    "hospitalRegistrationCert" TEXT,
    "authorizedRepIdProof" TEXT,
    "contactDetails24x7" TEXT NOT NULL,
    "mouAcceptance" BOOLEAN NOT NULL,
    "repName" TEXT NOT NULL,
    "repDesignation" TEXT NOT NULL,
    "repIdNumber" TEXT NOT NULL,
    "repEmail" TEXT NOT NULL,
    "repPhone" TEXT NOT NULL,
    "termsAccepted" BOOLEAN NOT NULL,
    "dataProcessingConsent" BOOLEAN NOT NULL,
    "networkParticipationAgreement" BOOLEAN NOT NULL,
    "status" "public"."ApprovalStatus" NOT NULL DEFAULT 'PENDING',
    "verificationAttempts" INTEGER NOT NULL DEFAULT 0,
    "suspendedUntil" TIMESTAMP(3),
    "lastVerificationAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "latitude" TEXT,
    "longitude" TEXT,

    CONSTRAINT "HospitalRegistration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Admin" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,

    CONSTRAINT "Admin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Approval" (
    "id" TEXT NOT NULL,
    "approvedBy" TEXT NOT NULL,
    "approvedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "decision" "public"."Decision" NOT NULL,
    "remarks" TEXT,
    "status" "public"."ApprovalStatus" NOT NULL DEFAULT 'PENDING',
    "hospitalId" TEXT,
    "donorId" TEXT,

    CONSTRAINT "Approval_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Alert" (
    "id" TEXT NOT NULL,
    "bloodType" TEXT NOT NULL,
    "latitude" TEXT,
    "longitude" TEXT,
    "urgency" "public"."UrgencyLevel" NOT NULL,
    "unitsNeeded" TEXT NOT NULL,
    "searchRadius" TEXT NOT NULL,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "autoDetected" BOOLEAN NOT NULL DEFAULT false,
    "hospitalId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Alert_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AlertResponse" (
    "id" TEXT NOT NULL,
    "alertId" TEXT NOT NULL,
    "donorId" TEXT NOT NULL,
    "status" "public"."ResponseStatus" NOT NULL DEFAULT 'PENDING',
    "confirmed" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AlertResponse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Document" (
    "id" SERIAL NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Document_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DonorVerification" (
    "id" TEXT NOT NULL,
    "donorId" TEXT NOT NULL,
    "docType" "public"."DonorDocumentType" NOT NULL,
    "docUrl" TEXT NOT NULL,
    "status" "public"."VerificationStatus" NOT NULL DEFAULT 'PENDING',
    "confidence" DOUBLE PRECISION,
    "extractedFields" JSONB,
    "mismatchFields" JSONB,
    "eligibilityChecked" BOOLEAN NOT NULL DEFAULT false,
    "eligibilityPassed" BOOLEAN NOT NULL DEFAULT false,
    "failedCriteria" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DonorVerification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AgentEvent" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "processed" BOOLEAN NOT NULL DEFAULT false,
    "agentType" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AgentEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."WorkflowState" (
    "id" TEXT NOT NULL,
    "requestId" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "currentStep" TEXT NOT NULL,
    "metadata" JSONB NOT NULL,
    "fulfillmentPlan" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WorkflowState_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AgentDecision" (
    "id" TEXT NOT NULL,
    "agentType" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "eventId" TEXT,
    "requestId" TEXT,
    "decision" JSONB NOT NULL,
    "confidence" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AgentDecision_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."InventoryUnit" (
    "id" TEXT NOT NULL,
    "hospitalId" TEXT NOT NULL,
    "bloodType" TEXT NOT NULL,
    "units" INTEGER NOT NULL,
    "expiryDate" TIMESTAMP(3) NOT NULL,
    "reserved" BOOLEAN NOT NULL DEFAULT false,
    "reservedFor" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InventoryUnit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."InventoryThreshold" (
    "id" TEXT NOT NULL,
    "hospitalId" TEXT NOT NULL,
    "bloodType" TEXT NOT NULL,
    "minimumRequired" INTEGER NOT NULL,
    "optimalLevel" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InventoryThreshold_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TransportRequest" (
    "id" TEXT NOT NULL,
    "fromHospitalId" TEXT NOT NULL,
    "toHospitalId" TEXT NOT NULL,
    "bloodType" TEXT NOT NULL,
    "units" INTEGER NOT NULL,
    "status" TEXT NOT NULL,
    "eta" TIMESTAMP(3),
    "pickupTime" TIMESTAMP(3),
    "deliveryTime" TIMESTAMP(3),
    "transportMethod" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TransportRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DonorResponseHistory" (
    "id" TEXT NOT NULL,
    "donorId" TEXT NOT NULL,
    "requestId" TEXT NOT NULL,
    "notifiedAt" TIMESTAMP(3) NOT NULL,
    "respondedAt" TIMESTAMP(3),
    "responseTime" INTEGER,
    "status" TEXT NOT NULL,
    "confirmed" BOOLEAN NOT NULL DEFAULT false,
    "noShow" BOOLEAN NOT NULL DEFAULT false,
    "distance" DOUBLE PRECISION,
    "score" DOUBLE PRECISION,
    "expectedArrival" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DonorResponseHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PilotRequest" (
    "id" TEXT NOT NULL,
    "hospitalName" TEXT NOT NULL,
    "contactPerson" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "hasBloodBank" BOOLEAN NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PilotRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PilotAnalytics" (
    "id" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "utmSource" TEXT,
    "utmMedium" TEXT,
    "utmCampaign" TEXT,
    "utmContent" TEXT,
    "referrer" TEXT,
    "userAgent" TEXT,
    "ipAddress" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PilotAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "DonorRegistration_email_key" ON "public"."DonorRegistration"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Admin_email_key" ON "public"."Admin"("email");

-- CreateIndex
CREATE UNIQUE INDEX "WorkflowState_requestId_key" ON "public"."WorkflowState"("requestId");

-- CreateIndex
CREATE UNIQUE INDEX "InventoryThreshold_hospitalId_bloodType_key" ON "public"."InventoryThreshold"("hospitalId", "bloodType");

-- CreateIndex
CREATE INDEX "AgentEvent_type_processed_idx" ON "public"."AgentEvent"("type", "processed");

-- CreateIndex
CREATE INDEX "AgentEvent_createdAt_idx" ON "public"."AgentEvent"("createdAt");

-- CreateIndex
CREATE INDEX "WorkflowState_requestId_idx" ON "public"."WorkflowState"("requestId");

-- CreateIndex
CREATE INDEX "WorkflowState_status_idx" ON "public"."WorkflowState"("status");

-- CreateIndex
CREATE INDEX "AgentDecision_agentType_createdAt_idx" ON "public"."AgentDecision"("agentType", "createdAt");

-- CreateIndex
CREATE INDEX "AgentDecision_requestId_idx" ON "public"."AgentDecision"("requestId");

-- CreateIndex
CREATE INDEX "InventoryUnit_hospitalId_bloodType_idx" ON "public"."InventoryUnit"("hospitalId", "bloodType");

-- CreateIndex
CREATE INDEX "InventoryUnit_reserved_idx" ON "public"."InventoryUnit"("reserved");

-- CreateIndex
CREATE INDEX "InventoryUnit_expiryDate_idx" ON "public"."InventoryUnit"("expiryDate");

-- CreateIndex
CREATE INDEX "InventoryThreshold_hospitalId_idx" ON "public"."InventoryThreshold"("hospitalId");

-- CreateIndex
CREATE INDEX "TransportRequest_status_idx" ON "public"."TransportRequest"("status");

-- CreateIndex
CREATE INDEX "TransportRequest_fromHospitalId_idx" ON "public"."TransportRequest"("fromHospitalId");

-- CreateIndex
CREATE INDEX "TransportRequest_toHospitalId_idx" ON "public"."TransportRequest"("toHospitalId");

-- CreateIndex
CREATE INDEX "DonorResponseHistory_donorId_idx" ON "public"."DonorResponseHistory"("donorId");

-- CreateIndex
CREATE INDEX "DonorResponseHistory_requestId_idx" ON "public"."DonorResponseHistory"("requestId");

-- CreateIndex
CREATE INDEX "DonorResponseHistory_status_idx" ON "public"."DonorResponseHistory"("status");

-- CreateIndex
CREATE INDEX "PilotRequest_email_idx" ON "public"."PilotRequest"("email");

-- CreateIndex
CREATE INDEX "PilotRequest_status_idx" ON "public"."PilotRequest"("status");

-- CreateIndex
CREATE INDEX "PilotRequest_createdAt_idx" ON "public"."PilotRequest"("createdAt");

-- CreateIndex
CREATE INDEX "PilotAnalytics_eventType_idx" ON "public"."PilotAnalytics"("eventType");

-- CreateIndex
CREATE INDEX "PilotAnalytics_utmMedium_idx" ON "public"."PilotAnalytics"("utmMedium");

-- CreateIndex
CREATE INDEX "PilotAnalytics_createdAt_idx" ON "public"."PilotAnalytics"("createdAt");

-- CreateIndex
CREATE INDEX "PilotAnalytics_eventType_createdAt_idx" ON "public"."PilotAnalytics"("eventType", "createdAt");

-- AddForeignKey
ALTER TABLE "public"."Approval" ADD CONSTRAINT "Approval_approvedBy_fkey" FOREIGN KEY ("approvedBy") REFERENCES "public"."Admin"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Approval" ADD CONSTRAINT "Approval_donorId_fkey" FOREIGN KEY ("donorId") REFERENCES "public"."DonorRegistration"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Approval" ADD CONSTRAINT "Approval_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."HospitalRegistration"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Alert" ADD CONSTRAINT "Alert_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."HospitalRegistration"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AlertResponse" ADD CONSTRAINT "AlertResponse_alertId_fkey" FOREIGN KEY ("alertId") REFERENCES "public"."Alert"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AlertResponse" ADD CONSTRAINT "AlertResponse_donorId_fkey" FOREIGN KEY ("donorId") REFERENCES "public"."DonorRegistration"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DonorVerification" ADD CONSTRAINT "DonorVerification_donorId_fkey" FOREIGN KEY ("donorId") REFERENCES "public"."DonorRegistration"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."InventoryUnit" ADD CONSTRAINT "InventoryUnit_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."HospitalRegistration"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."InventoryThreshold" ADD CONSTRAINT "InventoryThreshold_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."HospitalRegistration"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TransportRequest" ADD CONSTRAINT "TransportRequest_fromHospitalId_fkey" FOREIGN KEY ("fromHospitalId") REFERENCES "public"."HospitalRegistration"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TransportRequest" ADD CONSTRAINT "TransportRequest_toHospitalId_fkey" FOREIGN KEY ("toHospitalId") REFERENCES "public"."HospitalRegistration"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DonorResponseHistory" ADD CONSTRAINT "DonorResponseHistory_donorId_fkey" FOREIGN KEY ("donorId") REFERENCES "public"."DonorRegistration"("id") ON DELETE RESTRICT ON UPDATE CASCADE;
